<div class="col-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'HTML5'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'85'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Angular'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'CSS3'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'65'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Laravel'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'70'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'PHP'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Bootstrap'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Bootstrap'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Bootstrap'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Bootstrap'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Bootstrap'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>
</div>

<div class="col-12 mt-5 text-center">
    <a class="btn yellow-btn" routerLink="/all-skills">Browse more skills</a>
</div>