<div class="container-fluid">

    <!--<div class="card m-3" style="width: 18rem; height: 22rem;">
        <div class="card-content"></div>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi soluta labore omnis maxime obcaecati, at, quo ratione optio cupiditate delectus consectetur vel reiciendis quisquam atque odit debitis laudantium mollitia aperiam.
            </p>
        
    </div>

    <div class="card m-3" style="width: 18rem; height: 22rem;">
        <div class="card-content"></div>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi soluta labore omnis maxime obcaecati, at, quo ratione optio cupiditate delectus consectetur vel reiciendis quisquam atque odit debitis laudantium mollitia aperiam.
            </p>
        
    </div>

    <div class="card m-3" style="width: 18rem; height: 22rem;">
        <div class="card-content"></div>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi soluta labore omnis maxime obcaecati, at, quo ratione optio cupiditate delectus consectetur vel reiciendis quisquam atque odit debitis laudantium mollitia aperiam.
            </p>
        
    </div>

    <div class="card m-3" style="width: 18rem; height: 22rem;">
        <div class="card-content"></div>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi soluta labore omnis maxime obcaecati, at, quo ratione optio cupiditate delectus consectetur vel reiciendis quisquam atque odit debitis laudantium mollitia aperiam.
            </p>
        
    </div>
    <div class="card m-3" style="width: 18rem; height: 22rem;">
        <div class="card-content"></div>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi soluta labore omnis maxime obcaecati, at, quo ratione optio cupiditate delectus consectetur vel reiciendis quisquam atque odit debitis laudantium mollitia aperiam.
            </p>
        
    </div>-->

    




</div>


<div id="contactussection" class="contactsection py-section">
    <div class="container">
        <div class="row text-center">
            <h1><span class="text-yellow">Contact</span> Me</h1>
        </div>

        <app-contactme></app-contactme>
    </div>
</div>