<div class="card">
    <div class="univ-logo-box shadow">
        <img src="assets/studies/USS.png" alt="">
    </div>
    <div class="topbox justify-content-between ">
        <h1 class="card-title">Sfax <span>University</span></h1>
        <span class="periodbox badge rounded-pill bg-light text-dark">Sept 2017 - Sept 2020</span>
    </div>

    <div class="location d-flex">
        <a target="_blank" href="https://goo.gl/maps/FfXWFegHu6BpodAA9"><i class="fas me-2 fa-map-marked-alt"></i> Tunisia <img src="assets/flags/tn.svg" style="width: 40px; margin-left: 15px;" alt=""></a>
    </div>

    <div class="detailsbox">
        <h4>Higher Institute of Computer Sciences and Multimedia</h4>
        <h3>Software Engineer in Web Technologies and Multimedia</h3>
    </div>
</div>

<div class="card">
    <div class="univ-logo-box shadow">
        <img src="assets/studies/rtu.png" alt="">
    </div>
    <div class="topbox justify-content-between ">
        <h1 class="card-title">Riga Technical <span>University</span></h1>
        <span class="periodbox badge rounded-pill bg-light text-dark">Feb 2019 - Jun 2019</span>
    </div>

    <div class="location d-flex">
        <a target="_blank" href="https://goo.gl/maps/MjdHgws67URL64Fu6"><i class="fas me-2 fa-map-marked-alt"></i> Latvija <img src="assets/flags/lv.svg" style="width: 40px; margin-left: 15px;" alt=""></a>
    </div>
    
    <div class="detailsbox">
        <h4>Faculty of Computer Sciences</h4>
        <h3>Master Student in Computer Sciences - Erasmus+ Student</h3>
    </div>
</div>

<div class="card">
    <div class="univ-logo-box shadow">
        <img src="assets/studies/USS.png" alt="">
    </div>
    <div class="topbox justify-content-between ">
        <h1 class="card-title">Sfax <span>University</span></h1>
        <span class="periodbox badge rounded-pill bg-light text-dark">Sept 2014 - Jun 2017</span>
    </div>

    <div class="location d-flex">
        <a target="_blank" href="https://goo.gl/maps/FfXWFegHu6BpodAA9"><i class="fas me-2 fa-map-marked-alt"></i> Tunisia <img src="assets/flags/tn.svg" style="width: 40px; margin-left: 15px;" alt=""></a>
    </div>
    
    <div class="detailsbox">
        <h4>Faculty of Sciences</h4>
        <h3>Bachelor Degree in Computer Sciences</h3>
    </div>
</div>