<div class="feedback-container">

    <div class="box">
        <div class="customer-avatar">
            <img src="assets/feedbacks/1.png" alt="" style="width: 100%;">
        </div>
        <div class="feedback-content">
            <div class="clippathfeedback"></div>
            <p>"This is the third project we work with Aymen, 
            he is a very accurate and experienced Web developer, 
            responsive with excellent communication skills, 
            fixes and updates are easy with him as he understand directly 
            the new requirements and remarks. Highly recommended."</p>
        </div>
    </div>

    <div class="box">
        <div class="customer-avatar text-center">
            <img src="assets/feedbacks/2.png" alt="" style="height: 100%;">
        </div>
        <div class="feedback-content">
            <div class="clippathfeedback"></div>
            <p>"Extraordinary professional! It has been an honor to work with someone of his calibre. 
            He is deliberate with his work with great attention to every detail. 
            For me, one of his most important skill sets is his ability to deliver the job on time. 
            Additionally,Ayman puts his heart and soul into his work. <a  type="button" data-bs-toggle="offcanvas" href="#offcanvasRight" aria-controls="offcanvasRight">read more</a></p> <!-- 
            He gives you everything he’s got when he gets into a project. 
            I am humbled to have worked with someone of such high integrity and so 
            committed to our mutual success. A truly great business partner."-->

            <div class="offcanvas offcanvas-end bg-warning" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                  <h5 id="offcanvasRightLabel" style="color: #151515 !important;">Read More</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body" style="color: #151515 !important;">
                  <p><!--<span class="text-muted">"Extraordinary professional! It has been an honor to work with someone of his calibre. 
                    He is deliberate with his work with great attention to every detail. 
                    For me, one of his most important skill sets is his ability to deliver the job on time. 
                    Additionally,Ayman puts his heart and soul into his work.</span>--> He gives you everything he’s got when he gets into a project. 
                    I am humbled to have worked with someone of such high integrity and so 
                    committed to our mutual success. A truly great business partner."</p>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="customer-avatar">
            <img src="assets/feedbacks/3.jpg" alt="" style="width: 100%;">
        </div>
        <div class="feedback-content">
            <div class="clippathfeedback"></div>
            <p>"Aymen is a very accurate and talented UI engineer, 
            he has a very good attention to the details, a great listener, very efficient.
            We will not hesitate to work with him again, highly recommended for all levels of 
            UI development (from easy to very complex)."</p>
        </div>
    </div>
</div>