<div class="container">

    <a routerLink="/bundles/dashboards">
        <div class="tech-item-box">
            <i class="fas fa-4x fa-chart-line text-dash"></i>
            <span class="text-dash">Dashboard</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>

    <a routerLink="/bundles/angular">
        <div class="tech-item-box">
            <i class="fab fa-4x fa-angular text-angular"></i>
            <span class="text-angular">Angular Stack</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>

    <a routerLink="/bundles/react">
        <div class="tech-item-box">
            <i class="fab fa-4x fa-react text-react"></i>
            <span class="text-react">React Stack</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>

    <a routerLink="/bundles/vuejs">
        <div class="tech-item-box">
            <i class="fab fa-4x fa-vuejs text-vuejs"></i>
            <span class="text-vuejs">Vuejs Stack</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>

    <a routerLink="/bundles/laravel">
        <div class="tech-item-box">
            <i class="fab fa-4x fa-laravel text-laravel"></i>
            <span class="text-laravel">Laravel Stack</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>

    <a routerLink="/bundles/bootstrap">
        <div class="tech-item-box">
            <i class="fab fa-4x fa-bootstrap text-bootstrap"></i>
            <span class="text-bootstrap">Bootstrap Stack</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>

    <a routerLink="/bundles/ionic">
        <div class="tech-item-box">
            <img src="assets/icons/ionic.svg" class="ionic-img">
            <span class="text-ionic">Ionic Stack</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>
    <!--<div class="tech-item-box"></div>-->

</div>