
<h1 class="text-center" style="font-family: 'Handlee', cursive; margin: 120px 0 40px 0;">All <span class="text-warning">Skills</span></h1>


<div class="container">
    <h5>Main Skills</h5>
</div>
<div class="container py-5" style="display: flex; flex-wrap: wrap; justify-content: center;">    
    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'HTML5'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'85'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Angular'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'CSS3'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'65'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Laravel'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'70'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'PHP'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Bootstrap'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Bootstrap'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Bootstrap'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Bootstrap'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Bootstrap'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>
    
</div>

<div class="container">
    <h5>Other Skills</h5>
</div>
<div class="container py-5" style="display: flex; flex-wrap: wrap; justify-content: center;">
    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'HTML5'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'85'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Angular'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'CSS3'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'65'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Laravel'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'70'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'PHP'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Bootstrap'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Bootstrap'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Bootstrap'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Bootstrap'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="85"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#ffc107'"
    [innerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="300"
    [clockwise]="false"
    [unitsFontSize]="'25'"
    [unitsColor]="'#ffc107'"
    [title]="'95'"
    [titleColor]="'#fff'"
    [titleFontSize]="'28'"
    [subtitle]="'Bootstrap'"
    [subtitleFontSize]="'14'"
    [subtitleColor]="'#78C000'"
    ></circle-progress>
</div>



<div id="contactussection" class="contactsection py-section">
    <div class="container">
        <div class="row text-center">
            <h1><span class="text-yellow">Contact</span> Me</h1>
        </div>

        <app-contactme></app-contactme>
    </div>
</div>