<div class="container">

    <a routerLink="/technologies/angular">
        <div class="tech-item-box">
            <i class="fab fa-4x fa-angular text-angular"></i>
            <span class="text-angular">Angular</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>

    <a routerLink="/technologies/react">
        <div class="tech-item-box">
            <i class="fab fa-4x fa-react text-react"></i>
            <span class="text-react">React</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>

    <a routerLink="/technologies/vuejs">
        <div class="tech-item-box">
            <i class="fab fa-4x fa-vuejs text-vuejs"></i>
            <span class="text-vuejs">Vuejs</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>

    <a routerLink="/technologies/html5">
        <div class="tech-item-box">
            <i class="fab fa-4x fa-html5 text-html5"></i>
            <span class="text-html5">HTML5</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>

    <a routerLink="/technologies/css3">
        <div class="tech-item-box">
            <i class="fab fa-4x fa-css3-alt text-css3-alt"></i>
            <span class="text-css3-alt">CSS 3</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>

    <a routerLink="/technologies/sass">
        <div class="tech-item-box">
            <i class="fab fa-4x fa-sass text-sass"></i>
            <span class="text-sass">SASS</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>

    <a routerLink="/technologies/js">
        <div class="tech-item-box">
            <i class="fab fa-4x fa-js-square text-js-square"></i>
            <span class="text-js-square">JavaScript</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>

    <a routerLink="/technologies/php">
        <div class="tech-item-box">
            <i class="fab fa-4x fa-php text-php"></i>
            <span class="text-php">PHP</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>

    <a routerLink="/technologies/laravel">
        <div class="tech-item-box">
            <i class="fab fa-4x fa-laravel text-laravel"></i>
            <span class="text-laravel">Laravel</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>
    <a routerLink="/technologies/bootstrap">
        <div class="tech-item-box">
            <i class="fab fa-4x fa-bootstrap text-bootstrap"></i>
            <span class="text-bootstrap">Bootstrap</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>

    <a routerLink="/technologies/wordpress">
        <div class="tech-item-box">
            <i class="fab fa-4x fa-wordpress text-wordpress"></i>
            <span class="text-wordpress">WordPress</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>

    <a routerLink="/technologies/ionic">
        <div class="tech-item-box">
            <img src="assets/icons/ionic.svg" class="ionic-img">
            <span class="text-ionic">Ionic</span>
            <p><i class="fas fa-2x fa-arrow-right"></i></p>
        </div>
    </a>
    <!--<div class="tech-item-box"></div>-->

</div>