<div class="myservices-container">
    <div class="box">
        <span></span>
        <div class="content">
            <p class="text-center">
                <i class="fas fa-3x fa-laptop-code"></i>
            </p>
            <h2>Website Development</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, nobis ut dignissimos explicabo aperiam officia quis.
            </p>
        </div>
    </div>

    <div class="box">
        <span></span>
        <div class="content">
            <p class="text-center">
                <i class="fas fa-3x fa-code"></i>
            </p>
            <h2>Web Apps Development</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, nobis ut dignissimos explicabo aperiam officia quis.
            </p>
        </div>
    </div>

    <div class="box">
        <span></span>
        <div class="content">
            <p class="text-center">
                <i class="fas fa-3x fa-mobile-alt"></i>
            </p>
            <h2>Mobile Apps Development</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, nobis ut dignissimos explicabo aperiam officia quis.
            </p>
        </div>
    </div>

    <div class="box">
        <span></span>
        <div class="content">
            <p class="text-center">
                <i class="fas fa-3x fa-pencil-ruler"></i>
            </p>
            <h2>UI/UX Design</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, nobis ut dignissimos explicabo aperiam officia quis.
            </p>
        </div>
    </div>

    <div class="box">
        <span></span>
        <div class="content">
            <p class="text-center">
                <i class="fab fa-3x fa-wordpress"></i>
            </p>
            <h2>WordPress Websites</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, nobis ut dignissimos explicabo aperiam officia quis.
            </p>
        </div>
    </div>

    <div class="box">
        <span></span>
        <div class="content">
            <p class="text-center">
                <i class="fas fa-3x fa-graduation-cap"></i>
            </p>
            <h2>Online Training</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, nobis ut dignissimos explicabo aperiam officia quis.
            </p>
        </div>
    </div>
</div>