/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #181818;
    color: #fff;
}

body {
    position: relative;
}

.navbartoggler {
    display: none;
}

.btn,
.form-control {
    box-shadow: none !important;
}

.activeRoute {
    border-bottom: 4px solid #ffc107 !important;
    color: #fff !important;
    background: #ffc10711;
}
.activeRoute .iconn {
    color: #ffc107 !important;
}

.activeSubRoute {
    border-left: 4px solid #ffc107 !important;
    border-right: 4px solid #ffc107 !important;
    color: #fff !important;
    background: #151515 !important;
}

.bottomborderyellow {
    border-bottom: 5px solid rgba(221, 255, 0, .15);
}

.yellow-btn {
    background: #ffc107;
    color: #151515;
}
.green-btn {
    background: #04C600;
    color: #fff;
}

.yellow-btn:hover,
.yellow-btn:focus {
    background: #bdd80f;
}

.green-btn:hover,
.green-btn:focus {
    background: #039700;
    color: #fff;
}

.text-yellow {
    color: #ffc107 !important;
}

.bg-yellow {
    background: #ffc107;
}

.pointer {
    cursor: pointer !important;
}

@media screen and (max-width: 767px) {
    .navbartoggler {
        display: block;
    }
}