<div class="col-12" style="display: flex; flex-wrap: wrap; justify-content: center;">

    <div class="card m-2" style="width: 18rem;">
        <img src="assets/img/work.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <div class="col-12 text-end">
                <a href="#" class="btn ms-auto yellow-btn">Go somewhere</a>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
        <img src="assets/img/work.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <div class="col-12 text-end">    
                <a href="#" class="btn ms-auto yellow-btn">Go somewhere</a>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
        <img src="assets/img/work.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <div class="col-12 text-end">    
                <a href="#" class="btn ms-auto yellow-btn">Go somewhere</a>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
        <img src="assets/img/work.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <div class="col-12 text-end">    
                <a href="#" class="btn ms-auto yellow-btn">Go somewhere</a>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    
    <div class="card m-2" style="width: 18rem;">
        <img src="assets/img/work.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <div class="col-12 text-end">    
                <a href="#" class="btn ms-auto yellow-btn">Go somewhere</a>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>

    <div class="card m-2" style="width: 18rem;">
        <img src="assets/img/work.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <div class="col-12 text-end">    
                <a href="#" class="btn ms-auto yellow-btn">Go somewhere</a>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="col-12 mt-5 text-center">
        <a class="btn yellow-btn" routerLink="/all-projects">Browse more works</a>
    </div>

</div>